.container {
  max-width: 1200px;
}

.container.entry-content {
  min-width: 800px;
  max-width: 1200px;
  text-align: justify;
}

.widget-about .logo{
  max-width:5em;
  padding-bottom: 1em;
}
.widget-about .logo a{
  display:block;
  line-height:0;
}

.title{
  color:#646568;
}

h1, h2, h3, h4, h5, h6 {
  color:#517CA4;
}

.entry-content {
  color:#646568;
}

a {
  color:#517CA4;
}

.desc {
  color:#517CA4;
}

body {
  color:#646568;
}

pre {
  font-size: 0.8em;
}
